%div
%h3 Outgoing transactions
-if @transactions
  %table
    %thead
      %tr
        %th To:
        %th Summ:
        %th Status:
        %th Created:
    %tbody
    - @transactions.each do |t|
      %tr
        %td= t.remote_account_id
        %td= t.summ
        %td= t.status_to
        %td= t.created_at.to_formatted_s(:short)
%h3 Unconfirmed transactions
-if @unconfirmed
  %table
    %thead
      %tr
        %th To:
        %td Summ:
        %td From_id:
        %td Created:
    %tbody
    - @unconfirmed.each do |t|
      %tr
        %td= t.remote_account_id
        %td= t.summ
        %td= t.account_id
        %td= t.created_at.to_formatted_s(:short)
        %td= link_to 'Confirm', account_transaction_path(@account, t), :method => :put, :class => 'btn btn-sm btn-danger'

= link_to 'New Rules', new_account_rule_path, :class => 'btn btn-sm btn-danger'

