/ %h3 Transactions
/ -if @transactions
/     %table
/         %thead
/             %tr
/                 %th User:
/                 %th From:
/                 %th To:
/                 %th Summ:
/                 %th Created:
/         %tbody
/         - @transactions.each do |t|
/             %tr
/                 %td= t.user.email
/                 %td= t.account.iban
/                 %td= t.remote_account_id
/                 %td= t.summ
/                 %td= t.created_at.to_formatted_s(:short)

.col-md-12.form_block 
  = form_for account_statistics_path do |f|
    .col-md-2.input-field
      = label_tag :title, 'Date From'
      = date_field_tag :date_from
    .col-md-2.input-field
      = label_tag :title, 'Date To'
      = date_field_tag :date_to
    .col-md-2.input-field
      /= select_tag "user", options_from_collection_for_select(, "id", "name")
    = submit_tag 'Send'


:javascript
  $(function() {
    var form_block = $('div.form_block');
    form_block.on('submit', 'form', function(e){
      e.preventDefault();
      $.ajax($(this).attr('action'),{
        async: false,
        data: $(this).serialize(),
        type: 'POST',

        success: function (data, testStatus, jqXHR) {
          form_block.html(data);
        }
      });
    });
  });


