-if notice
  %div.alert.alert-success
    = notice
= link_to account_url(@account), :class => "link_back" do
  %i.nc-icon.nc-minimal-left
  Back to Account
/- role = @account_user.role_id
.col-md-12.form_block 
  .row
    = form_for account_statistics_path, method: "GET" do |f|
      .row
        .col-md-1.form-group
          %p Date:
        .col-md-2.form-group
          = date_field_tag :date_from
        .col-md-2.form-group  
          = date_field_tag :date_to
        .col-md-3.form-group
          %select#status.btn.btn-outline-primary.dropdown-toggle{:onchange => "run()"}
            %option.dropdown-item{:value => ''} Transaction status
            %option.dropdown-item{:value => 'pending'} Pending
            %option.dropdown-item{:value => 'canceled'} Canceled
            %option.dropdown-item{:value => 'approved'} Approved
          =hidden_field_tag 'status_from', ''
        -if @curr_user.role_id == 1
          .col-md-2.form-group
            %select#use_id.btn.btn-outline-primary.dropdown-toggle{:onchange => "run()"}
              %option.dropdown-item{:value => ''} All Users
              - @account_users.each do |t|
                %option.dropdown-item{:value => t.user_id}= t.user.name
            =hidden_field_tag 'user_id', ''
        .col-md-2.form-group
          /= select_tag "user", options_from_cllection_for_select(, "id", "name")
          = submit_tag 'Send', class: 'btn btn-sm btn-outline-primary'

-if @transactions
  .col-md-12
    .row.statistics-list
      .nav-tabs-navigation
        .nav-tabs-wrapper
          %ul.nav.nav-tabs{:role => "tablist"}
            %li.nav-item
              %a.nav-link.active{"data-toggle" => "tab", :href => "#transaction", :role => "tab"} Transactions
            %li.nav-item
              %a.nav-link{"data-toggle" => "tab", :href => "#invites", :role => "tab"} Invites History
      / Tab panes
      .tab-content
        #transaction.tab-pane.active{:role => "tabpanel"}
          -if @curr_user.role_id == 1
            -if @transactions.empty? && @income.empty?
              %h5 Transactions on the specified parameters are not present
            -else
              = render :partial => "./statistics/list"
              = render :partial => "./statistics/income"
          -if @curr_user.role_id == 2
            -if @transactions.empty?
              %h5 Transactions on the specified parameters are not present
            -else
              = render :partial => "./statistics/list"

        #invites.tab-pane{:role => "tabpanel"}
          = render :partial => "./statistics/invites"

:javascript
  document.getElementById('date_to').valueAsDate = new Date();
  var date = new Date();

  var day = date.getDate()-7;
  var month = date.getMonth()+1;
  var year = date.getFullYear();

  if (month < 10) month = "0" + month;
  if (day < 10) day = "0" + day;

  var today = year + "-" + month + "-" + day;       
  document.getElementById("date_from").value = today;

  function run() {
    document.getElementById("status_from").value = document.getElementById("status").value;
    document.getElementById("user_id").value = document.getElementById("use_id").value;
  }

  function up() {
    var dop = document.getElementById("status_from").value;
    var dop = document.getElementById("user_id").value;
  }
