%p#notice= notice
= link_to account_url(@account), :class => "waves-effect waves-light link_back" do
  %i.material-icons keyboard_arrow_left
  Back to Accounts Management
%h3 Account users
-if @account_users
  %table
    %thead
      %tr
        %th Email:
        %th Role type:
    %tbody
    - @account_users.each do |t|
      %tr
        %td= t.user.email
        %td= t.role.name
        %td= link_to 'Destroy', account_management_path(@account, t), :method => :delete, :class => 'btn btn-sm btn-danger'
-if @account_users[0].role.name == 'owner'
  %div
    = link_to 'Invite co-user', account_invites_path(@account)
