= form_for account_co_user_path(@rule), method: 'patch' do |f|
  - if @rule.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rule.errors.count, "error")} prohibited this account from being saved:"
      %ul
        - @rule.errors.full_messages.each do |msg|
          %li= msg

  .actions
    %fieldset.toggleable{disabled: true}
      = text_field_tag 'account_rule[spending_limit]', @rule.spending_limit
      = f.submit 'Save'
