= form_for :account_rule, controller: 'rules', url: { action: 'create' } do |f|
  - if @rule.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rule.errors.count, "error")} prohibited this account from being saved:"
      %ul
        - @rule.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.text_field :spending_limit, placeholder: 'Enter limit'
    = f.submit 'Save'
