!!!
%html
  %head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %title IBank
  = csrf_meta_tags
  = stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  %header.navbar-light.navbar-toggleable-md.bd-navbar
    %nav.container-fluid.navbar.navbar-toggleable-md.navbar-light.bg-faded
      %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
      .navbar-brand Balance:
      %span.glyphicon.glyphicon-euro
      /= current_user.balance.amount
      #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
        %a.nav-link{:href => "/accounts"} Accounts
        %li.nav-item
        %a.nav-link{:href => "/transactions"} Transactions
        - if user_signed_in?
          %li.nav-item
            = link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'nav-link'
        - else
          %li.nav-item
            = link_to 'Login', new_user_session_path, :class => 'nav-link'
  .container
    %p.notice= notice
    %p.alert= alert
  .container
    = yield
