-if notice
  %div.alert.alert-success
    = notice
-if alert
  %div.alert.alert-danger
    =alert

.row
  .col-md-10
    .nav-tabs-navigation
      .nav-tabs-wrapper
        %ul.nav.nav-tabs{:role => "tablist"}
          %li.nav-item
            %a.nav-link.active{"data-toggle" => "tab", :href => "#owner-2", :role => "tab"} Owner
          %li.nav-item
            %a.nav-link{"data-toggle" => "tab", :href => "#co-user-2", :role => "tab"} Co-User
    / Tab panes
    .tab-content.text-center
      #owner-2.tab-pane.active{:role => "tabpanel"}
        %table.table-responsive
          %thead
            %tr
              %th Iban
              %th Balance
              %th Date created
              %th Actions
          %tbody
            - @accounts.each do |account|
              -@rule_acc = account.account_users.with_deleted.find_by(user_id: current_user.id).role.name
              %tr
                -if @rule_acc == "owner"
                  %td.iban #{account.iban}
                  %td.balance #{account.balance}
                  %td.date #{account.created_at.to_formatted_s(:short)}
                  -if account.deleted_at.nil?
                    %td.actions
                      = link_to 'Show', account, :class => 'btn btn-outline-primary btn-round btn-sm'
                      -if can? :manage, account
                        = link_to 'Delete', account, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-outline-danger btn-round btn-sm'
                  -if account.deleted_at?
                    -if can? :manage, account
                      %td.actions
                        = link_to 'Restore', account, :method => :patch, :class => 'btn btn-sm btn-outline-warning'
                    %td.date Freezed #{account.deleted_at.to_formatted_s(:short)}
      #co-user-2.tab-pane{:role => "tabpanel"}
        %table.table-responsive
          %thead
            %tr
              %th Iban
              %th Balance
              %th Date created
              %th Actions
          %tbody
          - @accounts.each do |account|
            -@rule_acc_co_user = account.account_users.with_deleted.find_by(user_id: current_user.id).role.name
            %tr
              -if @rule_acc_co_user == "co-user"
                %td.iban #{account.iban}
                %td.balance #{account.balance}
                %td.date #{account.created_at.to_formatted_s(:short)}
                -if account.deleted_at.nil?
                  %td.actions
                    = link_to 'Show', account, :class => 'btn btn-outline-info btn-round btn-sm'
                    -if can? :manage, account
                      = link_to 'Delete', account, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-outline-danger btn-round btn-sm'
                  -if account.deleted_at?
                    -if can? :manage, account
                      %td.actions
                        = link_to 'Restore', account, :method => :patch, :class => 'btn btn-sm btn-warning waves-effect'
                    %td.date Freezed #{account.deleted_at.to_formatted_s(:short)}

  .col-md-2
    = form_for new_account_path do |f|
      = f.submit 'New Account', :class => 'btn btn-outline-success btn-round'
    = link_to 'Change User info', edit_user_registration_path, :class => 'btn btn-sm btn-outline-primary waves-effect'

%div
-unless @invites.to_a.empty?
  %h3 Invitations
  %table.table-responsive
    %thead
      %tr
        %th From user_id:
        %th iban:
        %th Accept:
        %th Reject:
    %tbody
    - @invites.each do |invite|
      %tr
        %td= invite.user_from_id
        %td= invite.account.iban
        %td= link_to 'Submit', account_invite_path(invite.account_id, invite.id, invite: { status: true }), method: :patch, class: 'btn btn-sm btn-outline-success'
        %td= link_to 'Reject', account_invite_path(invite.account_id, invite.id, invite: { status: false }), method: :patch, class: 'btn btn-sm btn-outline-danger'
%div

-unless @exceeding_request.to_a.empty?
  %h3 Exceeding requests
  %table
    %thead
      %tr
        %th Account
        %th User
        %th Amount
        %th Actions
    %tbody
    - @exceeding_request.each do |request|
      %tr
        %td= request.account.iban
        %td= request.user.name
        %td= request.amount
        %td
          = link_to 'Accept invite', account_exceeding_request_path(request.account.id, request.id, exceeding_request: { status: true }), method: :patch, class: 'btn btn-sm btn-outline-primary'
          = link_to 'Reject', account_exceeding_request_path(request.account.id, request.id, exceeding_request: { status: false }), method: :patch, class: 'btn btn-sm btn-outline-danger'
