-if notice
  %div.alert.alert-success
    = notice
-if alert
  %div.alert.alert-danger
    =alert

%h1 Accounts list
.row
  .col-md-10
    /%ul.tabs
    /  %li.tab.col-md-3
    /    %a.active{:href => "#owner"} Owner
    /  %li.tab.col-md-3
    /    %a{:href => "#co-user"} Co-User
    /  %li.tab.col.s3.disabled
    /    %a{:href => "#test3"} Disabled Tab
    /#owner.col-md-12
    %table.table-responsive
      %thead
        %tr
          %th Role
          %th Iban
          %th Balance
          %th Date created
          %th Actions
      %tbody
      - @accounts.each do |account|
        %tr
          %td= account.account_users.with_deleted.find_by(user_id: current_user.id).role.name
          %td.iban #{account.iban}
          %td.balance #{account.balance}
          %td.date #{account.created_at.to_formatted_s(:short)}
          -if account.deleted_at.nil?
            %td.actions
              = link_to 'Show', account, :type => "button", :class => 'btn btn-success'
              -#= link_to 'Edit', edit_account_path(account), :class => 'btn btn-sm btn-warning'
              -if can? :manage, account
                = link_to 'Destroy', account, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-sm btn-danger waves-effect'
          -if account.deleted_at?
            -#if account.account_users.with_deleted.find_by(user_id: current_user.id).role.name == 'owner'
            -if can? :manage, account
              %td.actions
                = link_to 'Restore', account, :method => :patch, :class => 'btn btn-sm btn-warning waves-effect'
            %td.date Freezed #{account.deleted_at.to_formatted_s(:short)}

  .col-md-2
    = form_for new_account_path do |f|
      = f.submit 'New Account', :class => 'btn btn-primary'
/    = link_to 'New Account', new_account_path, :class => 'btn btn-primary'

%div
-unless @invites.empty?
  %h3 Invitations
  %table
    %thead
      %tr
        %th From user_id:
        %th iban:
        %th Accept:
        %th Reject:
    %tbody
    - @invites.each do |invite|
      %tr
        %td= invite.user_from_id
        %td= invite.account.iban
        %td= link_to 'Submit', account_invite_path(invite.account_id, invite.id, invite: { status: true }), method: :patch, class: 'btn btn-sm btn-info waves-effect'
        %td= link_to 'Reject', account_invite_path(invite.account_id, invite.id, invite: { status: false }), method: :patch, class: 'btn btn-sm btn-danger waves-effect'
%div
-unless @exceeding_request.empty?
  %h3 Exceeding requests
  %table
    %thead
      %tr
        %th Account
        %th User
        %th Amount
        %th Actions
    %tbody
    - @exceeding_request.each do |request|
      %tr
        %td= request.account.iban
        %td= request.user.name
        %td= request.amount
        %td
          = link_to 'Accept invite', account_exceeding_request_path(request.account.id, request.id, exceeding_request: { status: true }), method: :patch, class: 'btn btn-sm btn-info waves-effect'
          = link_to 'Reject', account_exceeding_request_path(request.account.id, request.id, exceeding_request: { status: false }), method: :patch, class: 'btn btn-sm btn-danger waves-effect'
