%p#notice= notice
%h1 #{@account.iban}
%p Balance: #{@account.balance}

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path

%div
	%form{:name=>"add_users", :id=>"add_users", :action=>"", :method=>"post"}
		%label{:for => "body"} Add Users:
		%input{:type=>"email", :name=>"email_user", :value=>""}
		%input{:type => "submit", :value => "Send", :class => "button"}

%div
%h3 Transactions
%div
	%form{:name=>"add_transaction", :id=>"add_transaction", :action=>"", :method=>"post"}
		%label{:for => "body"} Account iban:
		%input{:type=>"text", :name=>"account_number", :value=>""}
		%label{:for => "body"} Amount:
		%input{:type=>"number", :name=>"amount", :value=>""}
		%input{:type => "submit", :value => "Send", :class => "button"}
