%p#notice= notice
= link_to accounts_path, :class => "waves-effect waves-light link_back" do
  %i.material-icons keyboard_arrow_left
  Back to Accounts Page
%table
  %thead
    %tr
      %th
        %h5 #{@account.iban}
        %h5= 'Valid THRU: ' + @account.valid_thru.strftime('%m/%d')
      %th
        -role = @account.account_users.find_by(user_id: current_user.id).role_id
        -if  role == 1
          %h5 Balance: #{@account.balance}
        -if role == 2
          %h5 Balance: #{@account.account_users.find_by(user_id: current_user.id).limit.reminder}


/= link_to 'Edit', edit_account_path(@account)
/\|
%br
%br
=form_tag account_exceeding_requests_url(@account), method: :post, action: :create do
  =text_field_tag 'exceeding_request[amount]'
  =submit_tag 'Request exceeding limit'

%br
%div
= link_to 'All', account_transactions_url(@account), :class => 'btn btn-primary'
= link_to 'Management', account_management_index_path(@account), :class => 'btn btn-primary'
.row
  %ul.tabs
    %li.tab.col-md-4
      %a.active{:href => "#out_trans"} Outgoing transactions
    %li.tab.col-md-4
      %a{:href => "#inc_trans"} Incoming transactions
      / %li.tab.col.s3.disabled
      /   %a{:href => "#test3"} Disabled Tab
  #out_trans.col-md-12
    %h3 Outgoing transactions
    -if @transactions
      %table
        %thead
          %tr
            %th To:
            %th Summ:
            %th Created:
        %tbody
        - @transactions.each do |t|
          %tr
            %td= t.remote_account_id
            %td= t.summ
            %td= t.created_at.to_formatted_s(:short)
  #inc_trans.col-md-12
    %h3 Incoming transactions
    -if @income
      %table
        %thead
          %tr
            %td From:
            %td Summ:
            %td Created:
        %tbody
        - @income.each do |t|
          %tr
            %td= t.account.iban
            %td= t.summ
            %td= t.created_at.to_formatted_s(:short)
.col.s12
  = form_tag account_transactions_path(@account), method: :post do
    .col.s8.input-field
      = label_tag :title, 'Account Iban'
      = text_field_tag :account
    .col.s2.input-field
      = label_tag :title, 'Month'
      = text_field_tag :month
    .col.s2.input-field
      = label_tag :title, 'Day'
      = text_field_tag :day
    .col.s12.input-field
      = label_tag :title, 'Amount'
      = text_field_tag :summ
    = submit_tag 'Send'

