%p#notice= notice
%h1 #{@account.iban}
%p Balance: #{@account.balance}

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
%br
%br
%br

%div
	%form{:name=>"add_users", :id=>"add_users", :action=>"", :method=>"post"}
		%label{:for => "body"} Add Users:
		%input{:type=>"email", :name=>"email_user", :value=>""}
		%input{:type => "submit", :value => "Send", :class => "button"}
%br
%br
%div
%h3 Transactions
%div
	= form_tag account_transactions_path(@account), method: :post do
		= label_tag :title, 'Account Iban'
		= text_field_tag :account
		= label_tag :title, 'Amount'
		= text_field_tag :summ
		= submit_tag 'Send'
