%p#notice= notice
%h1 #{@account.iban}
%p Balance: #{@account.balance}

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
%br
%br
%br
%div
	%form{:name=>"add_users", :id=>"add_users", :action=>"", :method=>"post"}
		%label{:for => "body"} Add Users:
		%input{:type=>"email", :name=>"email_user", :value=>""}
		%input{:type => "submit", :value => "Send", :class => "button"}

%div
%h3 Outgoing transactions
-if @my_transactions
	%table
		%thead
			%tr
				%th To:
				%th Summ:
				%th Status:
				%th Created:
		%tbody
		- @my_transactions.each do |t|
			%tr
				%td= t.remote_account_id
				%td= t.summ
				%td= t.status_to
				%td= t.created_at.to_formatted_s(:short)
%h3 Incoming transactions
-if @income
	%table
		%thead
			%tr
				%td Summ:
				%td From_id:
				%td Created:
		%tbody
		- @income.each do |t|
			%tr
				%td= t.summ
				%td= t.account_id
				%td= t.created_at
%br
%br
%br
%div
	= form_tag account_transactions_path(@account), method: :post do
		= label_tag :title, 'Account Iban'
		= text_field_tag :account
		= label_tag :title, 'Amount'
		= text_field_tag :summ
		= submit_tag 'Send'
